.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin:40px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  display:flex;
  margin:5px;
}

input{
  width: 400px;
  align-items:center;
}

.field{
  margin: 5px;
}
