.App {
  text-align: center;
  background-color:#7586ff;
}

.App-logo{
  animation-name:shimmy;
  animation-duration: 4s; 
}

 @keyframes shimmy {
  0%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(30px, 30px);
    transition: transform 0.5s ease
  }
 
}

.menu{
  background-color:#7586ff;
}


body{
  background-color:#7586ff;
}
.App-title {
  font-size: 60px;
  font-family: 'Advent Pro';
  color:rgb(255,210,30);
  font-weight:bold;
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  display:flex;
  margin:5px;
}

input{
  width: 400px;
  align-items:center;
}

.field{
  margin: 5px;
}

h2{
  font-style: italic;
  margin-top:'20px'
}

p{
  color: white;
  font-size: 20px;
}