.App {
  text-align: center;
  background-color:linear-gradient(rgb(78, 18, 104),rgb(210, 107, 255));
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;

}


.menu{
  background-color:  rgb(210, 107, 255);
}


body{
  background-color:rgb(210, 107, 255) ;
}
.App-title {
  font-size: 60px;
  font-family: 'Advent Pro';
  color:rgb(255,210,30);
  font-weight:bold;
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  display:flex;
  margin:5px;
}

input{
  width: 400px;
  align-items:center;
}

.field{
  margin: 5px;
}

h2{
  font-style: italic;
  margin-top:'20px'
}

